.topnav{
    background-color: #333;
    overflow: hidden;
    padding: 14px 16px 14px 16px;
}

.topnav a {
    padding: 14px 16px 14px 16px;
    font-size: 20px;
    color: lightblue;
    text-decoration: none;
}